.navbar {
  position: sticky;
  height: 50px;
  top: 0;
  width: 100%;
  background-color: #0d0c1d;
  color: #fff;
  display: flex;
  padding: 0 16px;
  height: 56px;
  align-items: center;
  justify-content: space-between;
  color: white;
  text-decoration: none;
}

.product-sort {
  padding: 10px;
  border: 1px solid rgba(255,255,255,0.25);
  background: #1d2b3a;
  border-radius: 5px;
  outline: none;
  color: #fff;
  font-size: 1em;
}

.navbar-end{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar-end > div{
    padding-right: 15px;
}

.navbar-links {
  display: flex;
  width: 50vw;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

  .navbar-links > div > a {
    color: white;
    text-decoration: none;
    margin: 5px 10px;
    position: relative;
    overflow: hidden; /* Add this */
  }

    .navbar-links > div > a::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: -3px;
      left: 0;
      background-color: white;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    .navbar-links > div > a:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }

    .navbar-links > div > a.active-link::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }

  .navbar-links > div > a:hover {
    cursor: pointer;
  }

.btn-secondary {
  margin-right: 20px;
}

.icon img {
  height: 55px;
}

.icon img:hover {
  cursor: pointer;
}
