<nav class="navbar">
  <div class="icon">
    <a [routerLink]="['/']">
    <img src="../../assets/blueStoneIcon.svg" alt="BlueStone App Logo" />
    </a>
  </div>
  <div class="navbar-links">
    <div><a [routerLink]="['/']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Home</a></div>
    <div><a [routerLink]="['/products']" routerLinkActive="active-link">Products</a></div>
    <div><a [routerLink]="['/stock']" routerLinkActive="active-link">Stock</a></div>
    <div><a [routerLink]="['/orders']" routerLinkActive="active-link">Orders</a></div>
    <div><a [routerLink]="['/about']" routerLinkActive="active-link">About</a></div>
    <div><a [routerLink]="['profile']" routerLinkActive="active-link" *ngIf="loginDisplay">Profile</a></div>
  </div>
  <div>
    <a>
      <button *ngIf="!loginDisplay" class="btn btn-secondary" (click)="login()">Sign In</button>
      <button *ngIf="loginDisplay" class="btn btn-secondary" (click)="logout()">Sign Out</button>
    </a>
  </div>
</nav>
