<div class="profile-content">
  <div><strong>Display Name:</strong> {{profile.displayName}}</div>
  <div><strong>Given Name:</strong> {{profile.givenName}}</div>
  <div><strong>Job Title:</strong> {{profile.jobTitle}}</div>
  <div><strong>Mail:</strong> {{profile.mail}}</div>
  <div><strong>Mobile Phone:</strong> {{profile.mobilePhone}}</div>
  <div><strong>Office Location:</strong> {{profile.officeLocation}}</div>
  <div><strong>Preferred Language:</strong> {{profile.preferredLanguage}}</div>
  <div><strong>Surname:</strong> {{profile.surname}}</div>
  <div><strong>User Principal Name:</strong> {{profile.userPrincipalName}}</div>
  <div><strong>Profile Id:</strong> {{profile.id}}</div>
  <br><br>
  <div><strong>Token Expiration:</strong> {{tokenExpiration}}</div>
</div>
