<div class="container">
  <div class="header">
    <h1>About Us</h1>
  </div>
  <div class="under-header">
    <div><img class="map-img" [src]="'../../assets/mapImage.png'" alt="Map Image of Harrogate" /></div>
    <div class="content">
      <p>Welcome to our shop! We are a family-owned business with over 20 years of experience in the industry. We pride ourselves on our commitment to quality products and exceptional customer service.</p>
      <p>Our shop offers a wide range of products from local and international brands. We believe in supporting our community and strive to source products locally whenever possible.</p>
      <p>We look forward to welcoming you to our shop and hope you enjoy your shopping experience with us.</p>
    </div>
  </div>
</div>
