.products-table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.products-table-cell{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font: normal 12px;
}
