<div class="products-component">
  <div class="search-filter">
    <div>
      <label for="searchQuery">Search products</label>
      <input type="text" [(ngModel)]="searchQuery" placeholder="Search products...">
    </div>
    <div>
      <label for="sortingType">Sort products</label>
      <select [(ngModel)]="selectedOption" (change)="onSelectionChange($event)">
        <option *ngFor="let option of options" [value]="option">{{option}}</option>
      </select>
    </div>
  </div>

  <table class="products-table">
    <thead>
      <tr>
        <th *ngFor="let col of productColumns"
            class="products-table-cell">
          {{columnHeaders[col]}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of filteredProducts">
        <td *ngFor="let col of productColumns" class="products-table-cell product-table-result" [routerLink]="['/products', product.id]" [class.image-cell]="col === 'imageUrl'">
          <ng-container *ngIf="col === 'imageUrl'; else notImage">
            <img class="product-image" [src]="product[col] || '../../assets/defaultProduct.png'" alt="Product image">
          </ng-container>
          <ng-template #notImage>
            <ng-container *ngIf="col === 'lastUpdated'; else default">
              {{product[col] | date: 'dd/MM/yyyy'}}
            </ng-container>
            <ng-template #default>
              {{product[col]}}
            </ng-template>
          </ng-template>
        </td>
      </tr>
    </tbody>
    <tr *ngIf="filteredProducts.length === 0">
      <td [attr.colspan]="productColumns.length" class="no-products">
        No products found
      </td>
    </tr>
  </table>
  <div class="add-product-button">
    <a [routerLink]="['/addproduct']"><button class="btn btn-primary">Add Product</button></a>
  </div>
</div>
